<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
</head>
<body>
    <header>
        <%- include("../partials/header"); %>
    </header>

    <h1 class="mt-5 mb-5 text-center">Ingrese los datos del nuevo producto</h1>

    <form method="POST" action="/productos" class="container">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre del Producto</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="mb-3">
            <label  class="form-label">Precio</label>
            <input type="number" class="form-control" name="price">
        </div>
        <div class="mb-3">
            <label  class="form-label">Imagen</label>
            <input type="text" class="form-control" name="thumbnail">
            <div id="emailHelp" class="form-text">Ingrese la URL de la imágen.</div>
        </div>
        <input class="btn btn-primary" value="Agregar Producto" type="submit"/>
    </form>

    <footer>
        <%- include("../partials/footer"); %>
    </footer>
</body>
</html>